/*
**
** FILE:		bones.css
** UPDATED: 	08/20/2014
** NOTES:		Bones - A skinny HTML5/CSS3 framework
** CREDITS: 	Nathan Harris aka Derjyn, 
*/


/*************************************************************************************************/
/*** RESET ***************************************************************************************/

*, *:before, *:after {
	box-sizing			: border-box;
	margin 				: 0;
	padding 			: 0;	
}

body, html {
	height 				: 100%;
	min-height 			: 100%;
}

h1,h2,h3,h4,h5,h6 {
	margin 				: 0;
	padding 			: 0;
}


/*************************************************************************************************/
/*** BONE GRID ***********************************************************************************/

body {
	margin 				: 16px;
}
body.nine-sixty {
	max-width 			: 960px;
	margin 				: 16px auto;
}
body.twelve-eighty {
	max-width 			: 1280px;
	margin 				: 16px auto;	
}

/*** THE SPINE ***/
.spine {
	display 			: flex;
	clear 				: both;
	flex-direction 		: row;
	flex-wrap 			: wrap;
	justify-content 	: flex-start;
	align-items 		: flex-start;
	align-content 		: flex-start;
	padding 			: 16px;
}
.spine.center {
	align-content 		: center;
}
.spine.stretch {
	align-items 		: stretch;
}

/*** THE RIBS ***/
.rib {
	float 				: left;
	clear 				: right;
	padding 			: 16px;
}
.rib.one-eighth		{ width: 12.5%;	}
.rib.two-eighths	{ width: 25%; 	}
.rib.three-eighths	{ width: 37.5%;	}
.rib.four-eighths	{ width: 50%; 	}
.rib.five-eighths	{ width: 62.5%;	}
.rib.six-eighths 	{ width: 75%; 	}
.rib.seven-eighths	{ width: 87.5%;	}
.rib.full 			{ width: 100%;	}

/*** MARGIN MODS ***/
.l-margin 	{ margin-left: 16px; }
.r-margin 	{ margin-right: 16px; }
.rib.one-eighth.r-margin, .rib.one-eighth.l-margin			{ width: calc(12.5% - 16px); }
.rib.two-eighths.r-margin, .rib.two-eighths.l-margin		{ width: calc(25% - 16px); 	 }
.rib.three-eighths.r-margin, .rib.three-eighths.l-margin	{ width: calc(37.5% - 16px); }
.rib.four-eighths.r-margin, .rib.four-eighths.l-margin		{ width: calc(50% - 16px);   }
.rib.five-eighths.r-margin, .rib.five-eighths.l-margin		{ width: calc(62.5% - 16px); }
.rib.six-eighths.r-margin, .rib.six-eighths.l-margin 		{ width: calc(75% - 16px);   }
.rib.seven-eighths.r-margin, .rib.seven-eighths.l-margin	{ width: calc(87.5% - 16px); }

/*** UTILITIES ***/
.spine.spacer, .rib.spacer { margin-bottom: 16px; }

.grower 	{ flex: 1 0 0; }

.breaker 	{ 
	width: 100%;
	height: 64px;
	margin-bottom: 16px;
}


/*************************************************************************************************/
/*** SPECIFIC LAYOUT CRAP ************************************************************************/
/*** Feel free to remove or modify this ish ******************************************************/

/*** HEADER ***/
header {}

/*** NAVIGATION ***/
nav {}

/*** MAIN ***/
main {}


/*** FOOTER ***/
footer {}

footer section {
	height 				: 96px;
}

footer small {
	text-align 			: center;
	font-weight 		: bold;
	margin-top 			: 16px;
}


/*************************************************************************************************/
/*** TYPOGRAPHY **********************************************************************************/

html {
	font-family 		: sans-serif;
	color 				: rgb(220,210,210);
}

h1 { font-size: 2em;		} /* 2*16 		= 32 	*/
h2 { font-size: 1.5em;		} /* 1.5*16 	= 24 	*/ 		
h3 { font-size: 1.17em;		} /* 1.17*16 	= 18.72 */
h4 { font-size: 1em;		} /* 1*16 		= 16 	*/
h5 { font-size: 0.83em;		} /* 0.83*16 	= 13.28 */
h6 { font-size: 0.75em;		} /* 0.75*16 	= 12 	*/

p {
	font-size 			: 105%;
	line-height 		: 1.5em;
    margin-bottom 		: 2em;
    padding 			: 0 1em;
}

ul {
	margin 				: 0;
	margin-top 			: -2em;
	padding 			: 32px;
	list-style-type 	: square;
}

a, a:visited, a:hover {
	text-decoration 	: none; 
}


/*************************************************************************************************/
/*** PRINT ***************************************************************************************/

@page {
	margin: 0.5cm;
}

@media print {
    * { 
    	background 		: transparent !important;
        color 			: #000 !important;
        box-shadow 		: none !important;
        text-shadow 	: none !important;
    }

    h2, h3 { page-break-after: avoid; }

	p, h2, h3 {
		orphans 		: 4;
    	widows 			: 4;
    }    

    header { 
    	margin-top: 4in;
    	page-break-after: always; 
    }

    header h2		{ display: none !important; }    
    nav 			{ display: none !important; }
    main section 	{ width: 100% !important; }
    main aside 		{ display: none; }
    footer h3		{ display: none !important; }
    footer section	{ display: none; }
}
 

/*************************************************************************************************/
/*** CUSTOM STYLE & FIXES ************************************************************************/
/*** This is where you want to customize things, or remove the whole block ***********************/

body 		{ background-color: rgb(128,119,105); }
.debug 		{ background-color: rgb(80,77,72); }
.debug-sub 	{ background-color: rgb(56,61,60); }

header 		{ order: 1; }
nav 		{ order: 2; }
main 		{ order: 3; }
footer 		{ order: 4; }
header h2 	{ order: 5; }
header h1 	{ order: 6; }

header h1, header h2 {
	text-align 			: center;
	line-height 		: 64px;
	font-weight 		: bold; 
}
header h1 {
	width 				: 96px;
	height 				: 96px; 
}

main aside {
	align-self 			: stretch;
}

div#demo h4 {
	text-align 			: center;
}
div#explanation h4 {
	text-align 			: left;
	margin-top 			: 32px;
}
div#explanation ul {
	margin-bottom 		: -32px;
}

.breaker {
	background-color 	: rgb(80,77,72);
	background-image 	: linear-gradient(90deg, transparent 50%, rgb(56,61,60) 50%);
	background-size 	: 32px 32px;
	text-align 			: center;
	line-height 		: 64px;
}


/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/
/*** A lot more work needs to be done on these lil fellers... ************************************/

@media only screen and (max-width: 720px), (max-width: 1024px) {
	main section {
		margin-right: 0 !important;
		margin-bottom: 16px;
	}
	main section, main aside {
		width: 100% !important;
	}
}

@media only screen and (max-width: 640px) {
	div#demo h4 {
		font-size: 60% !important;
	}

	div#explanation h4 {
		font-size: 100% !important;
	}
}

@media only screen and (max-device-width: 320px) {}
@media only screen and (max-device-width: 360px) {}
@media only screen and (max-device-width: 380px) {}


/*************************************************************************************************/
/*** COLOR TABLE *********************************************************************************/
/*** This is here purely for the demo/documentation page, for referencing the color scheme. ******/

/*** MAIN PRIMARY COLOR ***/
.rgba-primary-0 { color: rgba(94,91,87, 1); }	
.rgba-primary-1 { color: rgba(128,119,105, 1); }
.rgba-primary-2 { color: rgba(80,77,72, 1); }
.rgba-primary-3 { color: rgba(66,63,58, 1); }
.rgba-primary-4 { color: rgba(48,45,41, 1); }

/*** MAIN SECONDARY COLOR (1) ***/
.rgba-secondary-1-0 { color: rgba(61,61,65, 1); }	
.rgba-secondary-1-1 { color: rgba(76,75,88, 1); }
.rgba-secondary-1-2 { color: rgba(51,51,55, 1); }
.rgba-secondary-1-3 { color: rgba(41,41,46, 1); }
.rgba-secondary-1-4 { color: rgba(30,29,33, 1); }

/*** MAIN SECONDARY COLOR (2) ***/
.rgba-secondary-2-0 { color: rgba(56,61,60, 1); }	
.rgba-secondary-2-1 { color: rgba(67,82,79, 1); }
.rgba-secondary-2-2 { color: rgba(47,52,50, 1); }
.rgba-secondary-2-3 { color: rgba(37,42,41, 1); }
.rgba-secondary-2-4 { color: rgba(27,31,30, 1); }


/*************************************************************************************************/
/*** EOF *****************************************************************************************/