/*
**
** FILE:        bones.css
** UPDATED:     09/05/2014
** DESCRIPTION: Bones - A skinny HTML5/CSS3 framework
** CREDITS:     Nathan Harris aka Derjyn,
*/


/*************************************************************************************************/
/*** RESET ***************************************************************************************/

*, *:before, *:after {
    box-sizing          : border-box;
    margin              : 0;
    padding             : 0;
}

body, html {
    height              : 100%;
    min-height          : 100%;
}


/*************************************************************************************************/
/*** BONE GRID ***********************************************************************************/

/*** THE BODY ***/
body.spaced         { margin: 16px; }
body.nine-sixty 	{ max-width: 960px; }
body.twelve-eighty 	{ max-width: 1280px; }
body.nine-sixty, body.twelve-eighty { margin: 16px auto; }

/*** THE SPINE ***/
.spine {
    display			: flex;
    clear			: both;
    flex-direction	: row;
    flex-wrap		: wrap;
    justify-content	: flex-start;
    align-items		: flex-start;
    align-content	: flex-start;
    padding			: 16px;
}
.spine.center		{ justify-content: center; }
.spine.stretch		{ align-items: stretch; }

/*** THE RIBS ***/
.rib 		{ 
    padding: 16px; 
    float: left; 
    clear: right; 
}
.rib.one	{ width: 12.5%; }
.rib.two    { width: 25%;   }
.rib.three  { width: 37.5%; }
.rib.four   { width: 50%;   }
.rib.five   { width: 62.5%; }
.rib.six    { width: 75%;   }
.rib.seven  { width: 87.5%; }
.rib.full	{ width: 100%;  }

/*** MARGIN MODS ***/
.l-margin   { margin-left: 16px;  	}
.r-margin   { margin-right: 16px; 	}
.t-margin	{ margin-top: 16px;		}
.b-margin	{ margin-bottom: 16px;	}
.rib.one.r-margin, .rib.one.l-margin		{ width: calc(12.5% - 16px); }
.rib.two.r-margin, .rib.two.l-margin        { width: calc(25% - 16px);   }
.rib.three.r-margin, .rib.three.l-margin	{ width: calc(37.5% - 16px); }
.rib.four.r-margin, .rib.four.l-margin      { width: calc(50% - 16px);   }
.rib.five.r-margin, .rib.five.l-margin      { width: calc(62.5% - 16px); }
.rib.six.r-margin, .rib.six.l-margin        { width: calc(75% - 16px);   }
.rib.seven.r-margin, .rib.seven.l-margin    { width: calc(87.5% - 16px); }

/*** PUSH MODS ***/
.push-one 	{ margin-left: 12.5%; 	}
.push-two 	{ margin-left: 25%; 	}
.push-three { margin-left: 37.5%; 	}
.push-four 	{ margin-left: 50%; 	}
.push-five 	{ margin-left: 62.5%; 	}
.push-six 	{ margin-left: 75%; 	}
.push-seven { margin-left: 87.5%; 	}

/*** PULL MODS ***/

/*** UTILITIES ***/
.breaker                { width: 100%; }
.breaker.sixteen        { height: 16px; }
.breaker.thirty-two     { height: 32px; }
.breaker.fourty-eight   { height: 48px; }
.breaker.sixty-four     { height: 64px; }

.filler { 
	width: 100%;
	margin: 0;
	padding: 0 !important;
}

.grower { flex: 1 0 0; }


/*************************************************************************************************/
/*** TYPOGRAPHY **********************************************************************************/

html {
    font-family		: sans-serif;
    color			: rgb(220,210,210);
}

h1 { font-size: 2em;	} /* 2*16       = 32    */
h2 { font-size: 1.5em;	} /* 1.5*16     = 24    */
h3 { font-size: 1.17em;	} /* 1.17*16    = 18.72 */
h4 { font-size: 1em;	} /* 1*16       = 16    */
h5 { font-size: 0.83em;	} /* 0.83*16    = 13.28 */
h6 { font-size: 0.75em;	} /* 0.75*16    = 12    */

p {
    font-size		: 105%;
    line-height		: 1.25em;
    margin-bottom	: 1em;
    padding			: 0 1em;
}
p:last-child 		{ margin-bottom: 0; }

ul {
    margin			: 0;
    margin-top		: -2.5em;
    padding			: 32px;
    list-style-type	: square;
}

p code, code {
    font-family		: monospace;
    font-size		: 120%;
    line-height		: 1.5em;
    white-space		: pre;
    overflow-x		: auto;
    margin			: 0;
    padding			: 4px;
    padding-top 	: 2px;
    background-color: rgb(27,31,30);
}

a, a:visited, a:hover { text-decoration: none; }


/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/
/*** A lot more work needs to be done on these lil fellers... ************************************/

@media only screen and (max-width: 720px), (max-width: 1024px) {
    main section {
        margin-right: 0 !important;
        margin-bottom: 16px;
    }
    main section, main aside { width: 100% !important; }
}

@media only screen and (max-width: 640px) {
    div#demo h4 		{ font-size: 60% !important; }
    div#explanation h4 	{ font-size: 100% !important; }

    .rib img { 
        max-width: 256px;
        height: auto;
        padding: 16px; 
    }
}

@media only screen and (max-width: 320px), (max-width: 360px), (max-width: 384px), (max-width: 533px), (max-width: 600px) {
    body.spaced { margin: 8px; }

    .spine, .rib { padding: 8px; }

    .l-margin { margin-left: 8px; }
    .r-margin { margin-right: 8px; }
    .t-margin { margin-top: 8px; }
    .b-margin { margin-bottom: 8px; }
    .rib.one.r-margin, .rib.one.l-margin		{ width: calc(12.5% - 8px); }
    .rib.two.r-margin, .rib.two.l-margin        { width: calc(25% - 8px);   }
    .rib.three.r-margin, .rib.three.l-margin    { width: calc(37.5% - 8px); }
    .rib.four.r-margin, .rib.four.l-margin      { width: calc(50% - 8px);   }
    .rib.five.r-margin, .rib.five.l-margin      { width: calc(62.5% - 8px); }
    .rib.six.r-margin, .rib.six.l-margin        { width: calc(75% - 8px);   }
    .rib.seven.r-margin, .rib.seven.l-margin    { width: calc(87.5% - 8px); }

    .rib img { 
        max-width: 224px !important;
        height: auto;
        padding: 8px; 
    }    
}


/*************************************************************************************************/
/*** PRINT ***************************************************************************************/

@page { margin: 0.5cm; }

@media print {
    * {
        background	: transparent !important;
        color		: #000 !important;
        box-shadow	: none !important;
        text-shadow	: none !important;
    }

    p, h2, h3 {
        orphans		: 4;
        widows		: 4;
    }

    h2, h3 			{ page-break-after: avoid; }
    header h1		{ margin-top: 0.5in; }
    header h2       { display: none !important; }
    nav             { display: none !important; }
    main section    { width: 100% !important; }
    main aside      { display: none; }
    footer h3       { display: none !important; }
    footer section  { display: none; }

    .rib p          { padding: 0.05in; }
    .rib img        { display: none; }
}


/*************************************************************************************************/
/*** THINGS AND STUFFS TO MOVE TO FLESH **********************************************************/

.rib img {
    padding: 16px;
    padding-top: 0;
    padding-bottom: 8px;
}
.rib .l-image { float: left; }
.rib .r-image { float: right; }

@media only screen and (max-width: 320px), (max-width: 360px), (max-width: 384px), (max-width: 533px), (max-width: 600px) {
    .rib img {
        max-width: 224px !important;
        height: auto;
        padding: 8px;
    } 
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/