/*
**
** FILE:        demo.css
** UPDATED:     09/11/2014
** DESCRIPTION: Custom demo CSS for Bones
** CREDITS:     Nathan Harris aka Derjyn
*/


/*************************************************************************************************/
/*** SPECIFIC LAYOUT CRAP ************************************************************************/

footer section { height: 96px; }
footer small {
    text-align  : center;
    font-weight : bold;
    margin-top  : 16px;
}


/*************************************************************************************************/
/*** CUSTOM DEMO STYLE & FIXES *******************************************************************/

header      { order: 1; }
nav         { order: 2; }
main        { order: 3; }
footer      { order: 4; }
header h2   { order: 5; }
header h1   { order: 6; }

header h1, header h2 {
    text-align  : center;
    line-height : 64px;
    font-weight : bold;
}

main aside { align-self: stretch; }

div#demo h4 { text-align: center; }
div#explanation h4 {
    text-align  : left;
    margin-top  : 32px;
}
div#explanation ul { margin-bottom: -32px; }

.breaker {
    background-color    : rgb(212,211,183);
    background-image    : linear-gradient(90deg, transparent 50%, rgb(199,198,166) 50%);
    background-size     : 32px 32px;
    text-align          : center;
    line-height         : 64px;
}

a { font-weight: bold; }
a:hover { color: rgb(230,229,210); }

code {
    background-color: rgb(230,229,210);
}


/*************************************************************************************************/
/*** FLESH OVERRIDE ******************************************************************************/

html, a { color: rgb(60,59,56); }
body    { background-color: rgb(87,85,72); }
.tendon { background-color: rgb(199,198,166); }
.muscle { background-color: rgb(212,211,183); }
.skin   { background-color: rgb(230,229,210); }


/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/

@media only screen and (max-width: 640px) {
    div#demo h4         { font-size: 60% !important; }
    div#explanation h4  { font-size: 100% !important; }
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/
