/*
**
** FILE:        demo.css
** UPDATED:     09/11/2014
** DESCRIPTION: Custom demo CSS for Bones
** CREDITS:     Nathan Harris aka Derjyn
*/


/*************************************************************************************************/
/*** SPECIFIC LAYOUT CRAP ************************************************************************/

footer section { height: 96px; }
footer small {
    text-align  : center;
    font-weight : bold;
    margin-top  : 16px;
}


/*************************************************************************************************/
/*** CUSTOM DEMO STYLE & FIXES *******************************************************************/

header      { order: 1; }
nav         { order: 2; }
main        { order: 3; }
footer      { order: 4; }
header h2   { order: 5; }
header h1   { order: 6; }

header h1, header h2 {
    text-align  : center;
    line-height : 64px;
}
header h2 { min-width: 96px; }

main aside { align-self: stretch; }

div#demo h4 { text-align: center; }
div#explanation h4 {
    text-align  : left;
    margin-top  : 32px;
}
div#explanation ul { margin-bottom: -32px; }

.breaker {
    background-image    : linear-gradient(90deg, transparent 50%, rgb(199,198,166) 50%);
    background-size     : 32px 32px;
    text-align          : center;
    line-height         : 64px;
}


/*************************************************************************************************/
/*** FLESH THEME OVERRIDE ************************************************************************/

/***************/
/* BONES THEME */
/***************/

html.themed { color: rgb(60,59,56); }

.themed body       { background-color: rgb(87,85,72); }
.themed .tendon    { background-color: rgb(199,198,166); }
.themed .muscle    { background-color: rgb(212,211,183); }
.themed .skin      { background-color: rgb(230,229,210); }

.themed h1,h2,h3,h4,h5,h6 { font-family: "Source Sans Pro", sans-serif; }

.themed p code, .themed code { background-color: rgb(230,229,210); }

.themed a { 
    color: rgb(87,85,72);
    cursor: pointer; 
}
.themed a:hover { 
    position: relative; 
    top     : -0.125em;
}

/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/

@media only screen and (max-width: 640px) {
    div#demo h4         { font-size: 60% !important; }
    div#explanation h4  { font-size: 100% !important; }
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/
