/*
**
** FILE:        bones.css
** UPDATED:     05/21/2020
** DESCRIPTION: Bones - A Skinny Layout System
** CREDITS:     Nathan Harris aka Derjyn
*/


/*************************************************************************************************/
/*** RESET ***************************************************************************************/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { height: 100%; }
body { min-height: 100%; }

/*************************************************************************************************/
/*** BONE GRID ***********************************************************************************/

/*** BODY MODS ***/
body.spaced { margin: 16px; }
body.nine-sixty, body.twelve-eighty { margin: 0 auto; }
body.nine-sixty { max-width: 960px; }
body.twelve-eighty { max-width: 1280px; }
body.spaced.nine-sixty, body.spaced.twelve-eighty { margin: 16px auto; }

/*** THE SPINE ***/
.spine {
  display: flex;
  clear: both;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

/*** SPINE MODS ***/
.spine.center     { justify-content: center; }
.spine.centerAll  { align-items: center; justify-content: center; }
.spine.stretch    { align-items: stretch; }

/*** THE RIBS ***/
.rib        { flex-shrink: 0; }
.rib.one    { width: 12.5%; }
.rib.two    { width: 25%;   }
.rib.three  { width: 37.5%; }
.rib.four   { width: 50%;   }
.rib.five   { width: 62.5%; }
.rib.six    { width: 75%;   }
.rib.seven  { width: 87.5%; }
.rib.full   { width: 100%;  }

/*** MARGIN MODS ***/
.spine.t-margin, .rib.t-margin { margin-top: 16px;    }
.spine.r-margin, .rib.r-margin { margin-right: 16px;  }
.spine.b-margin, .rib.b-margin { margin-bottom: 16px; }
.spine.l-margin, .rib.l-margin { margin-left: 16px;   }

/*** RIB MARGIN MOD OFFSETS ***/
.rib.one.r-margin, .rib.one.l-margin      { width: calc(12.5% - 16px); }
.rib.two.r-margin, .rib.two.l-margin      { width: calc(25% - 16px);   }
.rib.three.r-margin, .rib.three.l-margin  { width: calc(37.5% - 16px); }
.rib.four.r-margin, .rib.four.l-margin    { width: calc(50% - 16px);   }
.rib.five.r-margin, .rib.five.l-margin    { width: calc(62.5% - 16px); }
.rib.six.r-margin, .rib.six.l-margin      { width: calc(75% - 16px);   }
.rib.seven.r-margin, .rib.seven.l-margin  { width: calc(87.5% - 16px); }

/*** PUSH MODS ***/
.rib.push-one   { margin-left: 12.5%; }
.rib.push-two   { margin-left: 25%;   }
.rib.push-three { margin-left: 37.5%; }
.rib.push-four  { margin-left: 50%;   }
.rib.push-five  { margin-left: 62.5%; }
.rib.push-six   { margin-left: 75%;   }
.rib.push-seven { margin-left: 87.5%; }

/*** OTHER MODS ***/
.spine.spaced,.spine.spacedRibs, .spine.spacedRibs .rib { padding: 8px; }
.rib.grower { flex: 1 0 0%; }
.rib.spaced { padding: 16px; }

/*************************************************************************************************/
/*** UTILITIES ***********************************************************************************/

.breaker              { width: 100%; }
.breaker.sixteen      { height: 16px; }
.breaker.thirty-two   { height: 32px; }
.breaker.fourty-eight { height: 48px; }
.breaker.sixty-four   { height: 64px; }

.filler {
  margin: 0;
  padding: 0 !important;
  width: 100%;
}

.f-left { float: left; }
.f-right{ float: right; }

.rib img {
  padding: 0 16px 8px 16px;
}

/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/

@media all and (max-width: 640px) {
  .rib img {
    height: auto;
    padding: 0 16px 8px 16px;
    max-width: 256px;
  }
}

@media all and (max-width: 320px), (max-width: 360px), (max-width: 384px), (max-width: 533px), (max-width: 600px) {
  body.spaced { margin: 8px; }

  .spine.spaced, .rib.spaced { padding: 8px; }

  .l-margin { margin-left: 8px;   }
  .r-margin { margin-right: 8px;  }
  .t-margin { margin-top: 8px;    }
  .b-margin { margin-bottom: 8px; }

  .rib.one.r-margin, .rib.one.l-margin      { width: calc(12.5% - 8px); }
  .rib.two.r-margin, .rib.two.l-margin      { width: calc(25% - 8px);   }
  .rib.three.r-margin, .rib.three.l-margin  { width: calc(37.5% - 8px); }
  .rib.four.r-margin, .rib.four.l-margin    { width: calc(50% - 8px);   }
  .rib.five.r-margin, .rib.five.l-margin    { width: calc(62.5% - 8px); }
  .rib.six.r-margin, .rib.six.l-margin      { width: calc(75% - 8px);   }
  .rib.seven.r-margin, .rib.seven.l-margin  { width: calc(87.5% - 8px); }

  .rib img {
    height: auto;
    max-width: 224px !important;
    padding: 8px;
  }
}

/*************************************************************************************************/
/*** EOF *****************************************************************************************/